<nav class="site-nav">
    <button type="button" class="hamburger" id="hamburger-button" aria-haspopup="true" aria-controls="site-nav-items">
        <div class="hamburger__top-row"></div>
        <div class="hamburger__middle-row"></div>
        <div class="hamburger__bottom-row"></div>
    </button>
    <ul id="site-nav-items" class="site-nav__items" role="menu" aria-labelledby="hamburger-button">
        <li class="site-nav__item" role="none"><a class="site-nav__link" role="menuitem"
                href="/autogis-problems/introduction/">Introduction</a>
        </li>
        <li class="site-nav__item" role="none">
            <button type="button" class="site-nav__link dropdown__button" id="problems-dropdown-button"
                aria-haspopup="true" aria-controls="problems-dropdown-items"><span>Problems</span><svg
                    xmlns="http://www.w3.org/2000/svg" class="dropdown__expand" id="problems-dropdown-expand">
                    <path d="m24 30.75-12-12 2.15-2.15L24 26.5l9.85-9.85L36 18.8Z" />
                </svg></button>
            <ul id="problems-dropdown-items" class="dropdown__items" role="menu"
                aria-labelledby="problems-dropdown-button">
                <li class="dropdown__item" role="none"><a class="dropdown__link" role="menuitem"
                        href="/autogis-problems/problem-1/">1: Creating basic geometries</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>