<nav class="site-nav">
    <button type="button" class="hamburger" id="hamburger-button" aria-haspopup="true" aria-controls="site-nav-items">
        <div class="hamburger__top-row"></div>
        <div class="hamburger__middle-row"></div>
        <div class="hamburger__bottom-row"></div>
    </button>
    <ul id="site-nav-items" class="site-nav__items" role="menu" aria-labelledby="hamburger-button">
        {% set navPages = collections.all | eleventyNavigation("Home") %}
        {%- for entry in navPages -%}
        {%- if entry.children.length -%}
        <li class="site-nav__item" role="none">
            <button type="button" class="site-nav__link dropdown__button" id="{{ entry.key | lower }}-dropdown-button"
                aria-haspopup="true" aria-controls="{{ entry.key | lower }}-dropdown-items">
                <span>{{ entry.key }}</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="dropdown__expand"
                    id="{{ entry.key | lower }}-dropdown-expand">
                    <path d="m24 30.75-12-12 2.15-2.15L24 26.5l9.85-9.85L36 18.8Z" />
                </svg>
            </button>
            <ul id="{{ entry.key | lower }}-dropdown-items" class="dropdown__items" role="menu"
                aria-labelledby="{{ entry.key | lower }}-dropdown-button">
                {%- for child in entry.children %}
                <li class="dropdown__item" role="none">
                    <a class="dropdown__link" role="menuitem" href="{{ child.url | url }}">{{ child.title }}</a>
                </li>
                {% endfor -%}
            </ul>
        </li>
        {%- else -%}
        <li role="none">
            <a class="site-nav__link" role="menuitem" href="{{ entry.url | url }}">{{ entry.title }}</a>
        </li>
        {%- endif -%}
        {% endfor -%}
    </ul>
</nav>