@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700;400&display=swap');

body {
    font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

p {
    line-height: 1.5;
    margin-bottom: 0.65em;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    margin-bottom: 0.65em;
}

h1 {
    font-size: 1.728rem;
    line-height: 1.2;
}

h2 {
    font-size: 1.44rem;
    line-height: 1.3;
}

h3 {
    font-size: 1.2rem;
    line-height: 1.4;
}

code,
blockquote p,
blockquote li {
    font-size: 0.8333rem;
    line-height: 1.1;
    margin-bottom: 0.65em;
}